@if (member) {
<div class="row g-4">
  <!-- Profile Title -->
  <div class="col-12">
    <h1 class="text-center text-md-start">Your Profile</h1>
  </div>

  <!-- Alert for Unsaved Changes -->
  <div class="col-12">
    @if (editForm.dirty) {
    <div class="alert alert-info">
      <p><strong>Information: </strong> You have made changes. Any unsaved changes will be lost.</p>
    </div>
    }
  </div>

  <!-- Start of Tabs Section -->
  <div class="col-12 col-md-8 order-0 order-md-0">
    <tabset class="member-tabset">
      <tab heading="About {{member.knownAs}}">
        <form id="editForm" #editForm="ngForm" (ngSubmit)="updateMember()">
          <h4 class="mt-3">Description</h4>
          <textarea class="form-control" name="introduction" [(ngModel)]="member.introduction" rows="4"></textarea>

          <h4 class="mt-3">Looking for</h4>
          <textarea class="form-control" name="lookingFor" [(ngModel)]="member.lookingFor" rows="4"></textarea>

          <h4 class="mt-3">Interests</h4>
          <textarea class="form-control" name="interests" [(ngModel)]="member.interests" rows="4"></textarea>

          <h4 class="mt-3">Location Details</h4>
          <div class="row g-2">
            <div class="col-6">
              <label class="form-label">City:</label>
              <input type="text" [(ngModel)]="member.city" class="form-control" name="city">
            </div>
            <div class="col-6">
              <label class="form-label">Country:</label>
              <input type="text" [(ngModel)]="member.country" class="form-control" name="country">
            </div>
          </div>
        </form>
      </tab>

      <tab heading="Edit Photos">
        <p>Photo edit will go here</p>
      </tab>
    </tabset>
  </div>
  <!--End of Tabs Section -->

  <!-- Start of Member Card -->
  <div class="col-12 col-md-4 order-1 order-md-1">
    <div class="card shadow-lg rounded-3 h-100">
      <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}" class="card-img-top img-thumbnail">
      <div class="card-body">
        <div>
          <strong>Location:</strong>
          <p>{{member.city}}, {{member.country}}</p>
        </div>
        <div>
          <strong>Age:</strong>
          <p>{{member.age}}</p>
        </div>
        <div>
          <strong>Last Active:</strong>
          <p>{{member.lastActive}}</p>
        </div>
        <div>
          <strong>Member since:</strong>
          <p>{{member.created}}</p>
        </div>
      </div>
      <div class="card-footer bg-white border-0">
        <button [disabled]="!editForm.dirty" form="editForm" type="submit" class="btn btn-success w-100">
          Save Changes
        </button>
      </div>
    </div>
  </div>
  <!-- End of Member Card -->

</div>
}
