@if (member) {
<div class="row g-4">
  <!-- Card Section -->
  <div class="col-12 col-md-4">
    <div class="card shadow-lg rounded-3 h-100">
      <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}"
        class="card-img-top img-fluid rounded">
      <div class="card-body">
        <div>
          <strong>Location:</strong>
          <p>{{member.city}}, {{member.country}}</p>
        </div>
        <div>
          <strong>Age:</strong>
          <p>{{member.age}}</p>
        </div>
        <div>
          <strong>Last Active:</strong>
          <p>{{member.lastActive}}</p>
        </div>
        <div>
          <strong>Member since:</strong>
          <p>{{member.created}}</p>
        </div>
      </div>
      <div class="card-footer bg-white border-0">
        <div class="btn-group d-flex gap-2">
          <button class="btn btn-primary flex-fill">Like</button>
          <button class="btn btn-success flex-fill">Message</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Tabs Section -->
  <div class="col-12 col-md-8">
    <tabset class="member-tabset">
      <tab heading="About {{member.knownAs}}">
        <h4>Description</h4>
        <p>{{member.introduction}}</p>
        <h4>Looking for</h4>
        <p>{{member.lookingFor}}</p>
      </tab>
      <tab heading="Interests">
        <h4>Interests</h4>
        <p>{{member.interests}}</p>
      </tab>
      <tab heading="Photos" #photoTab="tab">
        @if (photoTab.active) {
        <gallery [items]="images" class="gallery"></gallery>
        }
      </tab>
      <tab heading="Messages">
        <p>Messages will go here</p>
      </tab>
    </tabset>
  </div>
</div>
}
